@model LearningManagement.Areas.Admin.Models.CategoryAddVM
@using LearningManagement.Entities
@{
    Layout = "_AccountLayout";
}
<!-- Sign In Start -->
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="rounded p-4 p-sm-5 my-4 mx-3">
                <form asp-controller="Category" asp-action="Edit" method="post">
                    <h3>Edit Category</h3>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label>Category Name</label>
                        <input asp-for="Category" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <br />
                    @if (!string.IsNullOrEmpty(Model?.ErrorMessage))
                    {
                        <span style="color: red">@Model?.ErrorMessage</span>
                    }
                    <br />
                    <button class="btn btn-danger" type="submit">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Sign In End -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}